<div class="row mt-2">
  <div class="col-md-8 col-sm-12">
    <div class="leftcontainer">
      <div class="img-container">
        <img [src]="childrenImg" alt="donate_us" />
      </div>
      <div class="text-container m-3">
        <span>We are proudly Non-profit organization</span>
        we love to help poor children and old age people and one of our primary
        focus is women empowerment.
        <p>
          Your contribution strengthens our social services, education to
          children and welfare programmes to improve the lives of children and
          their families. Your donation in our social work is greatly
          appreciated and can make a difference in the lives of so many
          children. You can donate securely online using your credit card,
          electronic check, or pay the donation in our account. You can also
          call us for donation. You can become a sponsor or co-sponsor by
          donating one time or monthly contribution. We make a living by what we
          get, but we make a life by what we give. All you must actually know is
          that your contribution will go a long way and help us empower the
          nation One unemployable youth at a time.
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-12">
    <div class="scanner">
      <img [src]="scanner" alt="scanner" />
      <p>Scan this QR code to directly help the organization</p>
      <div class="m-4">
        Below are the numbers which you can use to make payment for better
        future of children
        <div class="d-flex justify-content-between">
          <div>
            <span class="text-primary">99535xxxx@ybl</span>
          </div>
          <div>
            <span class="text-primary">83535xxxx@apl</span>
          </div>
        </div>
      </div>
    </div>
    <div class="m-4">
      <strong>
        If you are planning to give donation or discuss on any question for your
        contribution or you would like to speak to us regarding making a
        donation, discuss planned giving please contact to
        <a href="mailto:ajay88636@gmail.com">ajay88636@gmail.com</a>
        Thank you so much!</strong
      >
    </div>
  </div>
</div>
