.img-container {
  width: 100%;
  margin: 0;
  padding: 0;
}

.img-container > img {
  width: 100%;
}

.scanner {
  text-align: center;
}

.scanner > img {
  width: 13rem;
  height: 13rem;
}

.img-container {
  width: 40rem;
  height: 20rem;
  margin-bottom: 2rem;
}

.img-container > img {
  width: 100%;
  height: 20rem;
}
