<div
  class="child_education"
  #childEduBg
  [style.backgroundImage]="'url(' + bg + ')'"
>
  <h4 class="edu_quote">
    <p class="animate__animated animate__backInLeft">
      <span>“</span>
      Education is the most powerful weapon which you can use to change the
      world
      <span>”</span>
      <span>– Nelson Mandela</span>
    </p>
  </h4>

  <div class="row">
    <div class="col-md-2">
      <img
        src="https://img.search.brave.com/ljGNph4vX9c59DC2XuVC6qtN6CTxcm3xanujs4jKCLM/rs:fit:1200:1200:1/g:ce/aHR0cDovL3d3dy5s/b3ZldGhld2F5eW91/bGl2ZS5uZXQuYXUv/d3AtY29udGVudC91/cGxvYWRzLzIwMTYv/MDkvaGFwcHlraWRz/LmpwZw"
        alt=""
        style="width: 100%"
        class="child_img_left"
      />
    </div>
    <div class="col-md-10">
      <p class="quote">
        Every act of conscious learning requires the willingness to suffer an
        injury to one’s self-esteem. That is why young children before they are
        aware of their own self-importance, learn so easily.”– Thomas Szasz
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
      <img
        src="https://img.search.brave.com/5yVManQgtCYvwaeO3r91SjjK8YYeJcA-zqb8H7tzQEY/rs:fit:711:225:1/g:ce/aHR0cHM6Ly90c2Uz/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC5Q/RlpieDN6TlZwcWpC/eV9halVyVGl3SGFF/OCZwaWQ9QXBp"
        alt=""
        style="width: 100%"
        class="child_img_left"
      />
    </div>
    <div class="col-md-10">
      <p class="quote">
        Develop a passion for learning. If you do, you will never cease to
        grow.”– Anthony J. D'Angelo
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
      <img
        src="https://img.search.brave.com/1Wvz9eG2uGlH8oT3TAyvsx8Jx780dHg2fKHcZ02i8p0/rs:fit:713:225:1/g:ce/aHR0cHM6Ly90c2U0/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC44/akExRDBZcDA5aTI3/VkllY2JaZkhBSGFF/NyZwaWQ9QXBp"
        alt=""
        style="width: 100%"
        class="child_img_left"
      />
    </div>
    <div class="col-md-10">
      <p class="quote">
        Education is the passport to the future, for tomorrow belongs to those
        who prepare for it today.”– Malcolm X
      </p>
    </div>
  </div>
</div>
