.footer {
  width: 100%;
  height: fit-content;
  background-color: darkslateblue;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 1rem 0.5rem;
  text-align: center;
  position: fixed;
  bottom: 0;
  margin-top: 3rem;
}
