.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

/* .nav-link {
  color: red;
  font-size: 1.2rem;
} */

/* .navbar-toggler {
  background-color: #ced6e0;
}

.navbar-toggler:hover {
  background-color: red;
} */
