<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto text-md-center text-left">
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/']"
            [routerLinkActive]="['active']"
            aria-current="page"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/volunteers']"
            [routerLinkActive]="['active']"
            >Volunteers</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/donate']"
            [routerLinkActive]="['active']"
            >Donate</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/gallary']"
            [routerLinkActive]="['active']"
            >Gallary</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
