<div class="container-fluid">
  <div class="card" *ngFor="let item of data">
    <div class="imageDiv">
      <img class="card-img-top" [src]="item.src" [alt]="" />
    </div>
    <div class="card-body">
      <h5 class="card-title">{{ item.name }}</h5>
      <p class="card-text">
        {{ item.firstTenWords }}
        <a
          *ngIf="item.totalWordsArr.length > 10"
          [routerLink]="['/more', item.id, item.name]"
          >know more</a
        >
      </p>
      <p *ngIf="item.hasLink">
        visit:
        <a class="text-primary" (click)="openLink(item.hasLink)">My Link</a>
      </p>
    </div>
  </div>
</div>
