<div class="row">
  <div class="col-md-4">
    <p class="homepageAboutText p-4">
      Due to lack of access to employment and due to circumstances sustainable
      livelihood is required in the rural areas so JJSS is working to improve
      productive activities overcoem the families from the poverty in rural
      areas. JJSS is working on such programmes that address the issue of access
      to employment or sustainable livelihood and create jobs by linking local
      small and medium-sized companies and entrepreneurs. Jan Jagriti Sewa
      Samiti’s empowerment programs are aligned with Sustainable Development
      Goals related to elimination of poverty, promotion of sustainable
      agriculture and job creation. The focus of activities of JJSS are
      concentrated in the fields of Education, Health and Community Development
      which are the areas of greatest need and attention. All social programmes
      are inter-related and connected together to make a sustainable development
      of people of society.
    </p>
  </div>
  <div class="col-md-8">
    <app-reusable-carousel [images]="images"></app-reusable-carousel>
  </div>
</div>

<div #volunteers>
  <h4 class="volunteer_heading">Our Volunteers</h4>
  <app-volunteers-card [data]="data"></app-volunteers-card>
</div>
