.homepageAboutText {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

.volunteer_heading {
  margin: 0.5rem 1.2rem;
  font-family: "Abril Fatface", cursive;
}

.volunteer_heading::first-letter {
  color: brown !important;
}
/* .images_contaier {
  border: 1px solid red;
  max-height: 25rem;
  width: 100% !important;
} */

::ng-deep .picsum-img-wrapper {
  height: 25rem;
  width: 100%;
}
::ng-deep .picsum-img-wrapper > img {
  width: 100%;
  height: 25rem;
}

/* .images_contaier img {
  width: 100% !important;
  height: 25rem !important;
} */
