<div class="row">
  <div class="col-md-4">
    <p class="homepageAboutText p-4">
      'हिंदी सेवा संघ' की स्थापना उत्तर प्रदेश के कुशीनगर जिले में जनवरी 2022
      में हुई है। यह संघ हिंदी भाषा और साहित्य की परंपरा को आगे बढ़ाने में अपना
      विशेष योगदान दे रहा है। धीरे-धीरे इसकी जड़ें पूरे भारतवर्ष में फैल रही हैं।
      उच्च शिक्षा की ओर अग्रसर हो रहे विद्यार्थियों को प्रोत्साहित करने और उनके
      उज्ज्वल भविष्य को बनाने में अपना यथासम्भव योगदान कर रहा है। इसमें अनेक
      लेखक और विश्विद्यालयों के अध्यापक अपना योगदान दे रहे हैं। यह संघ नारी
      सशक्तिकरण और नारी शिक्षा के लिए समाज में अपनी सेवा दे रहा है। आने वाले कुछ
      वर्षों में यह संघ समाज के अनेक क्षेत्रों में अपना विशेष योगदान देगा। इस
      संघ के संस्थापक का मानना है कि इस संघ का संस्थापक कोई व्यक्ति विशेष नहीं
      बल्कि मानवता के लिए कार्य कर रहा वह हर व्यक्ति है जो शिक्षा के माध्यम से
      समाज को नई ऊंचाइयों पर ले जाने का कार्य कर रहा है और समाज को शिक्षित बनाने
      में अपना विशेष योगदान दे रहा है।
    </p>
  </div>
  <div class="col-md-8">
    <div class="images_contaier">
      <app-reusable-carousel [images]="images"></app-reusable-carousel>
    </div>
  </div>
</div>

<div #volunteers>
  <h4 class="volunteer_heading">Our Volunteers</h4>

  <app-volunteers-card [data]="data"></app-volunteers-card>
</div>
