<div class="row">
  <div class="col-md-4">
    <p class="p-4">
      Due to lack of access to employment and due to circumstances sustainable
      livelihood is required in the rural areas so JJSS is working to improve
      productive activities overcoem the families from the poverty in rural
      areas. JJSS is working on such programmes that address the issue of access
      to employment or sustainable livelihood and create jobs by linking local
      small and medium-sized companies and entrepreneurs. Jan Jagriti Sewa
      Samiti’s empowerment programs are aligned with Sustainable Development
      Goals related to elimination of poverty, promotion of sustainable
      agriculture and job creation. The focus of activities of JJSS are
      concentrated in the fields of Education, Health and Community Development
      which are the areas of greatest need and attention. All social programmes
      are inter-related and connected together to make a sustainable development
      of people of society.
    </p>
  </div>
  <div class="col-md-8">
    <app-reusable-carousel></app-reusable-carousel>
  </div>
</div>

<div #volunteers>
  <h1>Volunteers section goes here</h1>
  <!-- <div class="row testimonial-section">
    <div class="col-12 testimonial-container">
      <div class="coordinator-testimonial">
        <div class="testimonial-img">
          <img class="rajeshImg" [src]="niranjanImg" [alt]="rajeshImg" />
        </div>
        <div class="testimonial-details">
          <h4 class="testimonial-person">Rajesh Kushwaha</h4>
          <p class="testimonial-designation">Software Engineer</p>
          <p>Working now in Medi Assist as Software developer</p>
        </div>
      </div>

      <div class="coordinator-testimonial">
        <div class="testimonial-img">
          <img class="rajeshImg" [src]="rajeshImg" [alt]="rajeshImg" />
        </div>
        <div class="testimonial-details">
          <h4 class="testimonial-person">Rajesh Kushwaha</h4>
          <p class="testimonial-designation">Software Engineer</p>
          <p>Working now in Medi Assist as Software developer</p>
        </div>
      </div>
      <div class="director-testimonial">
        <div class="testimonial-img">
          <img class="sandeepImg" [src]="sandeepImg" [alt]="sandeepImg" />
        </div>
        <div class="testimonial-details">
          <h4 class="testimonial-person">Sandeep Kumar</h4>
          <p class="testimonial-designation">Software developer</p>
          <p>Working now in Verzeo as Software developer</p>
        </div>
      </div>
    </div>
  </div> -->
  <app-volunteers-card [data]="data"></app-volunteers-card>
</div>
